.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;

}
.places h1{
    text-align: left;
    font-size: 30px;
    width: 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    position:relative
}

.places article > h2{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

.places .price_by_night {
    color: #FF5A5F;
    border: solid 2px #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    margin: 20px;
}

.places .information {
    height: 80px;
    border-top:solid 1px #DDDDDD; 
    border-bottom:solid 1px #DDDDDD; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.places .information > div {
    width: 100px;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.places .information .max_guest {
    background: url(../images/icon_group.png) no-repeat center top;
}

.places .information .number_rooms {
    background: url(../images/icon_bed.png) no-repeat center top;
}
.places .information .number_bathrooms {
    background: url(../images/icon_bath.png) no-repeat center top;
}

.places .user {
    text-align: left;
    margin: 15px 0px 6px 0px;
}

.places .description {
    text-align: justify;
}

/* styles for amenities section */
.places .amenities, .places .reviews {
    margin-top: 40px;
}

.places .amenities h2, .places .reviews h2 {
    font-size:  16px;
    border-bottom: solid 1px #DDDDDD;
    text-align: left;
}

.places ul {
    list-style: none;
    padding: 0px;
}

.places .amenities ul li {
    text-align: left;
    line-height: 30px;
    padding-left: 38px;
}

.places .tv_icon {
    background: url(../images/icon_tv.png) no-repeat left center;
    background-size: 24px;
}

.places .wifi_icon {
    background: url(../images/icon_wifi.png) no-repeat left center;
    background-size: 24px;
}

.places .pet_icon {
    background: url(../images/icon_pets.png) no-repeat left center;
    background-size: 24px;
}

.places .park_icon {
    background: url(../images/icon_free_park.png) no-repeat left center;
    background-size: 22px;
}

/* styles for reviews section */
.places .reviews ul li {
    font-size: 14px;
    text-align: left;
    margin-left: 0px;
}

.places .reviews li h3 {
    font-size: 14px;
    text-align: left;
    margin: 2px 0px;
}

.places .reviews li p {
    font-size: 12px;
    text-align: justify;
    margin: 2px 0px 16px 0px;
}




.container + footer {
    position: relative;
}

